{% extends "localboats/base.html" %}

{% block title %}{{ block.super }} : Boats{% endblock title %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="/site_media/css/isotope.css">
{% endblock styles %}

{% block content %}
	<nav id="list-options" class="white80 shadow">
      <h3>Filter:</h3>
      <ul id="filter" class="option-set">
        <li><a href="#show-all" data-filter="*" class="selected">All</a></li>
		{% for design in designs %}
			<li><a href="#{{ design|slugify }}" data-filter=".{{ design|slugify }}">{{design}}</a></li>
		{% endfor %}
		<li><a href="#forsale" data-filter=".forsale">For Sale</a></li>
      </ul>
      <h3>Sort:</h3>
      <ul id="sort" class="option-set">
      	<li><a href="#start" data-sort="sail_number" class="selected">Sail Number</a></li>
		<li><a href="#name" data-sort="name">Name</a>
		<li><a href="#type" data-sort="year_built">Year Built</a></li>
        <li><a href="#wordiness" data-sort="handicap">Handicap</a></li>
      </ul>
      <h3>Layout:</h3>
      <ul id="layouts" class="option-set">
        <li><a href="#fitRows" class="selected">Grouped</a></li>
        <li><a href="#straightDown">Listed</a></li>
      </ul>
  	</nav>

	<ul id="super-list" class="fitRows clearfix">
	{% for boat in boats %}
	    <li id="{{ boat.slug }}" 
			class="boat {{ boat.design|slugify }} {% if boat.forsale.count %}forsale{% endif %}"
			data-handicap="{{ boat.handicap }}" 
			data-year-built="{{ boat.year_built }}"
			data-sail-number="{{ boat.sail_number }}">
	    	<a href="{{ boat.get_absolute_url }}">{{ boat.name }}</a>
		</li>
	{% endfor %}
	</ul>
{% endblock content %}

{% block scripts %}
	<script type="text/javascript" src="/site_media/js/jquery.isotope.min.js"></script>
	<script>
		$list = $('#super-list');
  
		$('#filter a').live('click',function(){
		  var filterName = $(this).attr('data-filter');
		  $list.isotope({ filter : filterName });
		  return false;
		});
		
		$('#sort a').live('click',function(){
		  var sortName = $(this).attr('data-sort');
		  $list.isotope({ sortBy : sortName });
		  return false;
		});
		
		var currentLayout = 'fitRows';
		
		$('#layouts a').live('click',function(){
		  var layoutName = $(this).attr('href').slice(1);
		  $list.removeClass( currentLayout ).addClass( layoutName );
		  currentLayout = layoutName;
		  $list.isotope({ layoutMode : layoutName });
		  return false;
		});
		  
		// switches selected class on buttons
		$('#list-options').find('.option-set a').live('click', function(){
			var $this = $(this);
			
			// don't proceed if already selected
			if ( !$this.hasClass('selected') ) {
			  $this.parents('.option-set').find('.selected').removeClass('selected');
			  $this.addClass('selected');
			}
		});
		
		$(function(){
		  
		  $list.isotope({
		    layoutMode : 'fitRows',
		    masonry : {
		      columnWidth: 220
		    },
		    getSortData : {
		      handicap : function( $elem ) {
		        return $elem.attr('data-handicap');
		      },
			  year_built : function( $elem ) {
			  	return $elem.attr('data-year-built');
			  },
			  sail_number : function( $elem ) {
				return $elem.attr('data-sail-number');
			  },
			  name : function( $elem ) {
				return $($elem).find('a:first').text();
			  }
		    }
		  });
		  
		});

	</script>
{% endblock scripts %}




