{% extends "localboats/base.html" %}

{% block title %} {{ block.super }} : {{ picture.title }}{% endblock %}
{% block styles %} 
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/site_media/css/imagenotes.css">
{% endblock styles %} 

{% block content %}
	<div id="picturewrap">
		<section id="picture">
			<h2>{{picture.title}}</h2>
			<img class="depictions" src="{{ picture.get_display_url}}" 
				alt="{{picture.title}}" longdesc="{{picure.caption}}"
				data-picture_id="{{picture.id}}"
				width="{{ picture.get_display_size.0 }}px"
				height="{{ picture.get_display_size.1 }}px"/>
			{% if picture.caption %}
				<p class="caption">{{ picture.caption }}</p>
			{% endif %}
			
				<ul id="depictions" style="width:{{ picture.get_display_size.0 }}px;">
					{% if depictions %}
						{% for dep in depictions %}
						  <li class="depiction {{dep.type}} {{dep.target.design|slugify}}" 
							  data-depiction='{"top":{{dep.top}},"left":{{dep.left}},"width":{{dep.width}},"height":{{dep.height}},"id":{{forloop.counter}},"note":"{{dep.target.name}}", "type":"{{dep.type}}"}'>
							  <a href="{{dep.target.get_absolute_url}}">{{dep.target.name}}</a>
						 </li>
						{% endfor %}
					{% endif %}
					<li><a href="javascript:void(0);" id="add-depiction" title="add"><span class="hint" style="display:none;">click the image to position a new tag</span></a></li>
				</ul>
				
				<div class="meta">
					Picture by 
					<cite>{{ picture.attribution.name }}</cite>
					{% load licensing %}
					{{ picture.license|license_logo }}
				</div>
			
		</section>
	</div>
	
	
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.10.custom.min.js"></script>

	<script type="text/javascript" src="/site_media/js/localboats.depictions.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.depictions').localboatsDepictions({
				minWidth: 50,
				minHeight: 50,
				maxWidth: '',
				maxHeight: '',
				aspectRatio: false,
				allowAdd: true,
				allowEdit: false,
				allowDelete: false,
				allowHide: false,
				allowReload: false,
				allowLink: false,
				allowAuthor: false,
				dateFormat: 'Y/D/M H:I',
				hideNotes: false,
				loadNotes: true,
				helper: '',
				maxNotes: null,
				datasource: '.depiction',
				operator: '/api/$type/depictions/'
			});
		});
	
	</script>
{% endblock scripts %}