Django==1.4
PIL==1.1.7
South==0.7.4
hg+https://bitbucket.org/rsalmaso/django-admin-tools#egg=django-admin-tools
#django-admin-tools==0.4.1
django-photologue==2.3
django-piston==0.2.3
wsgiref==0.1.2
docutils
