{% extends "base.html" %}

{% block title %}Norfolk Punts : Class Rules{% endblock %}

{% block content %}
<section id="history">
	<h2>
    A Basic Guide to the Norfolk Punt, by Nick Mockridge
    </h2>
    <p>
        The following is a <strong>layman&#8217;s guide</strong>
        to recognizing Norfolk Punts; it is not for the purist but for those
        who wish for a basic appreciation for the class.
    </p>
    <p>
        The Norfolk Punt was derived from the flat-bottomed gun punts that
        roamed the Broadland waters in the mid to late 1800s. However,
        at the turn of the 20th Century, in order to get to and from the
        hunting grounds more efficiently, the punters developed their highly
        unstable craft to carry a basic mast and sail for travelling with the
        wind. It is from these humble beginnings that one of the
        country&#8217;s most exciting and powerful racing dinghy
        classes was born.
    </p>
    <h3>The <strong>Classic</strong> or <strong>Traditional</strong> Punts
        (<em>PY 926 to 1059</em>)</h3>
    <p>
        The older Punts are still very much in existence today and race in
        the same fleets as the newer boats. However, due to their
        rather more antiquated hull designs they compete on a handicap to
        allow fair racing. Boats designed and built as early as the
        late 1920s are still regularly seen on the water, with arguably the
        most successful Punt ever, winning four National Championships in the
        late 80s and finishing in the top 3 as recently as 2008, dating
        back to 1935.
    
        <img class="right"
			alt="The 1935 built, Herbert Woods designed Swallow II in 2006"
			src="/site_media/images/history/swallowII-2006.jpg"/>
    </p>
    <p>
        Amongst the early designers were such famous sailors as Uffa Fox and
        Jack Holt, although most successful boats were from the drawing
        boards of local designers, the most prolific being Herbert Woods,
        Walter Woods, H.T. Percival and W. F.&nbsp; Mollett.&nbsp; Early
        boats were generally of clinker construction and varied from
        16&quot; to 22&quot;, although once in
        the 1930s pretty much all the designs were
        22&quot;. Initially gaff rigs were the norm, but
        as the class entered the 1930s Punt owners adopted Bermudan rigs.
    </p>
    <p>
        <img class="left"
			 alt="The 1935 built, Herbert Woods designed Swallow II in 2006" 
		     src="/site_media/images/history/swallowII-2006-0.jpg"/>
    
        Today many of the early Punts have been lovingly and painstakingly
        renovated or rebuilt, transformed into varnished works of art.&nbsp;
        Some have been brought into the 21st Century, sporting carbon spars,
        trapezes and composite sails atop their beautiful, near-century old
        clinker hulls.&nbsp; Whatever the owners&#8217; personal
        choices, these older boats are well loved and still very fast,
        offering 29er-type speed in a gentleman&#8217;s elegant
        package.
    </p>
    
    <h3>The <strong>One-Design</strong> Punt (<em>PY
        908</em>)</h3>

    <p>
        In the eight years immediately after World War 11 only
        one boat was built, and it became apparent that the post-WW11 economy
        meant that a new breed of boat needed to be designed, if the class
        was not to disappear into ignominy. Dick Wyche of Wyche and
        Coppock designed a 22&quot; boat made of plywood that
        proved far cheaper to build and far lighter and faster to sail.&
        This design hustled the class into a new era, with the next 25 boats
        being built to Dick Wyche&#8217;s plans, and with the
        class incorporating the trapeze in the 1960s and offering a
        fibreglass alternative in the 70s.
       <img class="right"
	   		alt="Snark in 2006" 
			src="/site_media/images/history/snark-2006.jpg"/>
    </p>
    <p>
        In the late 70s the Wyche and Coppock Punt even had
        the distinction of being the fastest dinghy in production.
		
    	<img class="left"
			alt="Harnser in 2006"
			src="/site_media/images/history/harnser-2006.jpg"/>
    
        To this day, the &quot;hard
        chine&quot; Punt is a favourite of many, possibly
        because of its exceptional performance in light to medium conditions,
        and is still as much in production as ever; of the nine Punts built
        since 2000, four have been to this design. However, once again
        owners&#8217; preferences have caused rig configurations
        vary, from aluminium to carbon spars, single or twin trapezes and
        symmetric or asymmetric spinnakers.
    </p>
    <p>
        <img alt="Harnser in 2006"
		src="/site_media/images/history/harnser-2006-0.jpg"
        />
    </p>
    <h3>The Development Years (<em>PY 875 to
        984</em>)</h3>

    <p>
       After 32 years of design
        &quot;hiatus&quot;, the one-design
        progression of the class was shattered by the return of
        development. Andy Wolstenholme&#8217;s prototype
        double-chine design led the charge, showing just how much faster the
        Punt could be. This was followed by the most numerically
        popular of the &quot;Progress&quot; designs,
        coming from the board of the world-renowned dinghy designer, Phil
        Morrison, whose cold-moulded modern hull proved to be blisteringly
        fast with a PY rating of 875.
    
        <img alt="Blackbird in 2006" 
		src="/site_media/images/history/blackbird-2006.jpg"
        class="right" />
    </p>
    <p>
       
        Designs from Fabian Bush, David Horne and Stephen Jones broadened the
        spectrum and appeal of the class, with hull lengths from
        19&quot; to 22&quot; and construction
        materials as diverse as possible - sheet ply,
        clinker planks, cold moulded wood, fibreglass, carbon and Kevlar are
        all to be found throughout the development fleet, and as with the
        &quot;hard chine&quot; fleet, rig configurations
        vary, from aluminium to carbon spars, single or twin trapezes and
        symmetric or asymmetric spinnakers.&nbsp; These
        &quot;Progress&quot; designs have traveled the
        length and breadth of the UK to compete in some of the bigger one-off
        handicap regattas such as the Grafham Grand Prix, the Bloody Mary,
        etc., and as long as the conditions are appropriate (i.e. no waves!),
        the boats and the sailors will, and do, acquit themselves favourably
        against the mainstream competition.
    
        <img alt="Blackbird in 2006" 
		src="/site_media/images/history/blackbird-2006-0.jpg"
        class="left"/>
    </p>
    <h3>Conclusion</h3>
    <p>
       There is little doubt that the Punt Class will
        continue to develop within the confines of its rules, as personal
        preferences and trends continue to dictate the latest thinking.&nbsp;
        In a nation currently dominated by the big manufacturers and
        one-design fleets (9er, RS, Laser, Topper, etc.), the Norfolk Punt
        has held its own due to it&#8217;s unique combination of
        choice; choice of design, manufacturer, construction materials and
        rig.&nbsp; Its flat-water performance coupled with its surprisingly
        forgiving nature are second to none.
    </p>
    <p>
       For a thorough history of the class, including
        information on designs and designers, class anecdotes, racing
        information, key Punt members throughout the years and a plethora of
        excellent photos, you could do no better than to read the book
        <em>Norfolk Punts, 1926 - 2006</em> by Jamie Campbell, published by Hamilton
        Publications and available through your local bookshop or
        chandlery.
    </p>
	<img alt="Blackbird in 2006"
		 src="/site_media/images/history/blackbird-2006-1.jpg"/>
	<div class="div-ider"></div>
</section>

{% endblock content %}