{% extends "base.html" %}

{% block title %}Norfolk Punts : Class Rules{% endblock %}

{% block content %}
<section id="rules">
<h2>NORFOLK PUNT RULES 2003</h2>
<p>The objective of the Norfolk Punt Class is to promote yacht racing on the Norfolk &amp; Suffolk Broads in vessels which derive from the traditional marsh men&#8217;s working boats. </p>
<ul>
    <li>A Norfolk Punt is defined as a strongly built, light draught, partly decked
    sailing craft, with pointed stem and stern and a centerboard and a nearly flat
    bottom. The gunwale plan view being a fair curve, the sheerline flat with very low
    freeboard.</li>

    <li>The Norfolk Punt shall be a class restricted by the following regulations:<br />
    <strong>New boats are to comply with either Hull Rules A and be regarded as a
    hardchine or the open class Hull rules B. All boats are to conform to Hull Rules
    C.</strong></li>
  </ul>

  <h3>Hull Rules A.</h3>

  <ol>
    <li><strong>The minimum weight of the hull in dry condition shall be 250lbs to
    include all fittings that are permanently attached but not including the centerboard
    and rudder or rig and rigging</strong>.</li>

    <li>The crop of the deck shall not exceed 150mm. The deck may be cut down at the
    stern, but the distance between the deck and the bottom of the hull shall not be less
    than 150mm.</li>

    <li>The width of the rubbing strake shall not exceed 38mm.</li>

    <li>At the bow, the distance between the baseline and the centre of the chine shall
    be 370mm with a tolerance of +/- 15mm. (<em>This measurement should be correct if the
    chine meets the stem at a point 215mm down from deck measured along the
    stem</em>.).</li>

    <li>At the stern, the distance between the baseline and the centre of the chine shall
    be a minimum of 267mm at the join of the stern post, the chine angle shall be 180
    degrees, in other words there shall be no discontinuity between the sides and the
    bottom of the hull at this point. The width of the bottom of the hull shall be not
    less than 50mm at the join of the stern post.</li>

    <li>For measurement purposes points P and Q are defined as: P is the true bow and is
    the intersection of the outside line of the sides (excluding the rubbing strake) and
    the plane of the deck. Point Q is similarly defined at the stern.</li>

    <li>The hull shall be measured at seven stations from a base line which shall be
    determined as follows:-

      <ol>
        <li><strong><u>At the bow</u></strong> 203mm below the keel at a point 457mm aft
        of a line perpendicular to the building base line passing through the true bow
        point P.</li>

        <li><strong><u>At the stern</u></strong> 203mm below the keel at a point 152mm
        forward of a line perpendicular to the building base line passing through the
        true stern point Q.</li>
      </ol>
    </li>
  </ol>

  <table bordercolor="#000099"
         cellspacing="0"
         cellpadding="4"
         border="1">
    <tbody>
      <tr valign="bottom"
          align="left">
        <td class="c2"><span class="c1">Measuring<br />
        Station</span></td>

        <td class="c2">
          <p class="c3">Distance<br />
          from P</p>
        </td>

        <td class="c2"><span class="c1">Base line<br />
        to keel</span></td>

        <td class="c2"><span class="c1">Base line<br />
        to chine</span></td>

        <td class="c2"><span class="c1">Side<br />
        along skin</span></td>

        <td class="c2"><span class="c1">Full breadth<br />
        at chine</span></td>

        <td class="c2"><span class="c1">Full breadth<br />
        at deck</span></td>
      </tr>

      <tr>
        <td class="c4"><i>Tolerance</i></td>

        <td class="c4"
            align="right"><i>&nbsp;</i></td>

        <td class="c4"
            align="right"><i>&#194;&#177;15mm</i></td>

        <td class="c4"
            align="right"><i>&#194;&#177;15mm</i></td>

        <td class="c4"
            align="right"><i>&#194;&#177;15mm</i></td>

        <td class="c4"
            align="right"><i>&#194;&#177;20mm</i></td>

        <td class="c4"
            align="right"><i>&#194;&#177;20mm</i></td>
      </tr>

      <tr>
        <td align="middle">1</td>

        <td align="right">787mm</td>

        <td align="right">165mm</td>

        <td class="c4"
            align="right"
            colspan="4">&nbsp; &nbsp; &nbsp; &nbsp;</td>
      </tr>

      <tr>
        <td align="middle">2</td>

        <td align="right">1675mm</td>

        <td align="right">102mm</td>

        <td align="right">235mm</td>

        <td align="right">260mm</td>

        <td align="right">1003mm</td>

        <td align="right">1200mm</td>
      </tr>

      <tr>
        <td align="middle">3</td>

        <td align="right">2562mm</td>

        <td align="right">70mm</td>

        <td class="c4"
            align="right"
            colspan="4">&nbsp; &nbsp; &nbsp; &nbsp;</td>
      </tr>

      <tr>
        <td align="middle">4</td>

        <td align="right">3390mm</td>

        <td align="right">64mm</td>

        <td align="right">184mm</td>

        <td align="right">285mm</td>

        <td align="right">1378mm</td>

        <td align="right">1578mm</td>
      </tr>

      <tr>
        <td align="middle">5</td>

        <td align="right">4230mm</td>

        <td align="right">83mm</td>

        <td class="c4"
            align="right"
            colspan="4">&nbsp; &nbsp; &nbsp; &nbsp;</td>
      </tr>

      <tr>
        <td align="middle">6</td>

        <td align="right">5067mm</td>

        <td align="right">111mm</td>

        <td align="right">205mm</td>

        <td align="right">222mm</td>

        <td align="right">1118mm</td>

        <td align="right">1275mm</td>
      </tr>

      <tr>
        <td align="middle">7</td>

        <td align="right">5925mm</td>

        <td align="right">159mm</td>

        <td class="c4"
            align="right"
            colspan="2">&nbsp; &nbsp;</td>

        <td align="right">667mm</td>

        <td class="c4"
            align="right">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <h3>Hull Rules B.</h3>

  <ol>
    <li>The hull shall be symmetrical athwart ships and pointed at both stem and stern.
    &#226;&#8364;&#732;Pointed&#226;&#8364;&#8482; shall be defined as maximum 80 degrees
    subtended angle at the bow and maximum 110 degrees subtended angle at the stern.</li>

    <li>The overall beam including any rubbing strake of 50mm maximum width from the
    sheerline shall not exceed 1829mm.</li>

    <li>Fore and aft rocker shall not exceed 152mm measured on the centreline at points
    457mm from either end of the boat. A line drawn from the base of the stem head to the
    base of the stern post along the bottom centreline of the boat shall be a fair
    curve.</li>

    <li>Rise of floor at mid length shall not exceed 127mm at points 610mm at 90 degrees
    from the centreline.</li>

    <li>Vertical depth of the hull at mid length cross section shall not exceed 387mm
    measured from the top of the deck level with the outer skin to outside of the bottom
    (excluding keel band if fitted).</li>

    <li>The foredeck shall extend aft at least 1219mm from the bow. The stern deck shall
    extend forward at least 610mm from the stern. The side deck width shall be maximum
    305mm excluding rubbing strake and minimum 152mm. The cockpit shall be at least
    1830mm in length.</li>

    <li>The minimum weight of the hull in dry condition shall be 250lbs (113.4kg) to include all
    fittings that are permanently attached but not including the centreboard and rudder
    or rig and rigging. Corrector weights may not exceed 10lbs.</li />
  </ol>
   <h3>Hull Rules C</h3>
    <ol>

    <li>The overall length shall not exceed 6756 mm and not be less than 5486mm.</li>

    <li>It is the owner&#8217;s responsibility to ensure that a waterlogged
    boat will float supporting the crew.</li>

    <li>A girder or web shall run along the centreline of the boat (extending vertically
    from hog to deck) to include the centreboard case and rudder box at least from a
    point below the forestay or jib tack to the aft side of the rudder box. This girder
    must be adequately braced from the mast stepping to the fixing point of the shrouds.
    Lightening holes may be drilled in the girder or web, but must not affect the
    strength of the structure.</li>

    <li><strong>No fitting (<em>excluding the exit of an asymmetric pole or bow
    fender</em>) shall project beyond the rubbing strake. An asymmetric exit may not
    protrude beyond the overall length of the hull.</strong></li>

    <li>The centreboard shall be fully retractable and removable from its case.</li>

    <li>The rudder shall be housed inboard and easily removable from its case from inside
    the boat.</li>

    <li>The keel band shall not project below the angle formed by the skin of the bottom
    on either side. A protection strip maybe fitted along the centreline and either side
    of the centreboard case and rudder box if required.</li>

    <li>The class will not carry racks as permanent or temporary fixings to the
    hull.</li>
    </ol>
    <h3>Rig</h3>
   <ol>
    <li>The mast, main boom, spinnaker booms and bowsprit may be of any material and
    length, but at no time shall the bowsprit, including fittings, project more than
    2134mm in front of the stem. A rudder gantry shall not be permitted. A wishbone boom
    shall not be permitted.</li>

    <li>Mainsail

      <ol>
        <li>The Luff A shall be measured from the uppermost part of the head of the sail
        to the lowermost edge of the sail.</li>

        <li>The Foot B shall be measured from the outer edge of the sail to the inner
        most edge of the sail along the foot.<br />
        Note: When a sail has a cut away corner or boltrope partially removed the
        measurement shall be an elongation of the true edges until they cope to a
        point.</li>

        <li>The shortest distance from the half leech point to the line defined as leech
        length shall not exceed 686mm.</li>

        <li>The shortest distance form the three quarter leech point to the line defined
        as leech length shall not exceed 610mm.</li>
      </ol>
    </li>

    <li>Jib

      <ol>
        <li>The Luff C shall be measured along the luff wire to the edges of the cloth at
        the tack and at the head D is the shortest distance from the edge of the cloth at
        the clew to the luff when the sail is dry and fully stretched out on a flat
        floor.</li>

        <li>The roach on the jib shall not exceed 101mm.</li>
      </ol>
    </li>

    <li>Sail Area<br />
    The maximum sail area is 16.35 sq.m. measured according to the formula:<br />
    <br />
    (A*B) / 2 + ( C*D) / 2<br />
    <br />
    Areas shall be marked in indelible ink in figures of at least 51mm high on the jib
    tack and main clew at the time of measuring.</li>

    <li>Battens

      <ol>
        <li>Mainsail : There shall be no restriction in length or number of battens.</li>

        <li>Jib : The number of battens shall not exceed 5. They shall be inserted from
        the leech of the jib.</li>
      </ol>
    </li>

    <li>Sailcloth<br />
    There shall be no restrictions of material for the mainsail or jib.</li>

    <li>Spinnaker<br />
    The spinnaker shall be a three-cornered sail constructed of normal woven sailcloth.
    No headboard, battens or other stiffening device, other than normal woven cloth
    reinforcing is allowed. A bowsprit shall be retracted within the length of the hull,
    except while the spinnaker is set, or during hoisting or lowering thereof.<br />
    <br />
    Only one spinnaker may be carried in the boat in Punt Class races.<br />
    <br />
    There shall no requirement for sail numbers on a spinnaker if they are fitted they
    shall be the correct number for the boat.<br />
    <br />
    <em>Measurement points and definitions are as in ISAF sail definitions section
    G.<br /></em></li>

    <li>Sail numbers shall be carried on the Mainsail in accordance with the ISAF rules
    current at the time of measurement.</li>
   </ol>
    <h3>Name</h3>
    <p>Boats are named after birds or fish.</p>

    <h3>Certificates:</h3>
    <p>No boat shall be allowed to race in the class unless she has a valid Measurement
    Certificate. This certificate shall be issued by the Owners' Association Secretary on
    receipt from the Measurer of a completed Measurement Form showing the boat to conform
    to Class Rules. Areas and serial numbers of sails measured are to be recorded on the
    Measurement Certificate. Any boat measured before 1997 (excepting no 84) is deemed to
    have complied with the rules in force at the time she was measured. Any alteration
    after 1997 shall comply with the rules current at the time of the alteration. Cases
    of doubt regarding compliance with the Class Rules shall be referred to the Owners'
    Association or a committee appointed by the Owners' Association for this
    purpose.</p>
  
</section>

{% endblock content %}
