{% extends "base.html" %}

{% block title %}Norfolk Punts : Technical Information{% endblock %}

{% block content %}
<section id="technical">
<h2>NORFOLK PUNT RULES 2003</h2>
<section>
    <p><em>The objective of the Norfolk Punt Class is to promote yacht racing on the Norfolk &amp; Suffolk Broads in vessels which derive from the traditional marshmen’s working boats.</em></p>
    <p>A Norfolk Punt is defined as a strongly built, light draught, partly decked sailing craft, with pointed stem and stern and a centreboard and a nearly flat bottom. The gunwale plan view being a fair curve, the sheerline flat with very low freeboard.</p>

    <p>The Norfolk Punt shall be a class restricted by the following regulations:</p>
</section>
<section>
    <h3>Hull</h3>
    <ol>
        <li>The hull shall be symmetrical athwartships and pointed at both stem and stern. ‘Pointed’ shall be defined as maximum 80 degrees subtended angle at the bow and maximum 110 degrees subtended angle at the stern.</li>
        <li>The overall length shall not exceed 22’2”(6756 mm) and not be less that 18’(5486mm)</li>
        <li>The overall beam including any rubbing strake of 2”(50mm)maximum width from the sheerline shall not exceed 6’(1829mm).</li>
        <li>Fore and aft rocker shall not exceed 6”(152mm) measured on the centreline at points 1’6”(457mm) from either end of the boat. A line drawn from the base of the stem head to the base of the stern post along the bottom centreline of the boat shall be a fair curve.</li>
        <li>Rise of floor at mid length shall not exceed 5”(127mm) at points 2’(610mm) at 90 degrees from the centreline.</li>
        <li>Vertical depth of the hull at mid length cross section shall not exceed 15”(381mm) measured from the sheerline to outside of the bottom(excluding keelband if fitted)</li>
        <li>The foredeck shall extend aft at least 4’(1219mm) from the bow. The stern deck shall extend forward at least 2’(610mm) from the stern. The side deck width shall be maximum 1’(305mm) excluding rubbing strake and minimum 6”(152mm). The cockpit shall be at least 6’ in length.</li>
        <li>It is the owner’s responsibility to ensure that a waterlogged boat will float supporting the crew.</li>
        <li>The minimum weight of the hull in dry condition shall be 220lbs to include all fittings that are permanently attached but not including the centreboard and rudder or rig and rigging. Corrector weights may not exceed 10lbs.</li>
        <li>A girder or web shall run along the centreline of the boat( extending vertically from hog to deck ) to include the centreboard case and rudder box at least from a point below the forestay or jib tack to the aft side of the rudder box. This girder must be adequately braced from the mast stepping to the fixing point of the shrouds. Lightening holes may be drilled in the girder or web, but must not affect the strength of the structure.</li>
        <li><strong>No fitting (including the exit of an asymetric pole but excluding a bow fender) shall project beyond the rubbing strake.</strong></li>
        <li>The centreboard shall be fully retractable and removable from its case.</li>
        <li>The rudder shall be housed inboard and easily removable from its case from inside the boat.</li>
        <li><strong>The class will not carry racks as permanent or temporary fixings to the hull.</strong></li>
    </ol>
</section>

<section>
    <h3>Rig</h3>
    <p><em>Measurement points and definitions are as in ISAF sail definitions section G.</em></p>
    <ol start="15">
        <li>The mast, main boom, spinnaker booms and bowsprit may be of any material and length, but at no time shall the bowsprit, including fittings, project more than 7’ (2134mm) in front of the stem. A rudder gantry shall not be permitted. A wishbone boom shall not be permitted.</li>
        <li><h4>Mainsail</h4>
            <ol>
                <li>
                    <p>The Luff A shall be measured from the uppermost part of the head of the sail to the lowermost edge of the sail.</p>
                    <p>The Foot B shall be measured from the outer edge of the sail to the inner most edge of the sail along the foot.</p>
                    <p><em>Note: When a sail has a cut away corner or bolt rope partially removed the measurement shall be an elongation of the true edges until they cope to a point.</em></p>
                </li>
                <li>The shortest distance from the half leech point to the line defined as Leech length shall not exceed 2’3” (686mm).</li>
                <li>The shortest distance form the three quarter leech point to the line defined as Leech length shall not exceed 2’ (610mm).</li>
            </ol>
        </li>
        <li><h4>Jib</h4>
            <ol>
                <li>The Luff C shall be measured along the luff wire to the edges of the cloth at the tack and at the head.D is the shortest distance from the edge of the cloth at the clew to the luff when the sail is dry and fully stretched out on a flat floor.</li>
                <li><strong>The roach on the jib shall not exceed 4" (101.6mm)</strong></li>
            </ol>
        </li>
        <li><h4>Sail Area</h4>
            The maximum sail area is 176 sq.ft. (16.35 sq.m.) measured according to the formula: 
<p><em>(A*B)/2 + (C*D)/2</em></p>
Areas shall be marked in indelible ink in figures of at least 2” (51mm) high on the jib tack and main clew at the time of measuring.
        </li>
        <li><h4>Battens</h4>
            <ol>
                <li>Mainsail : There shall be no restriction in length or number of battens.</li>
                <li>Jib : The number of battens shall not exceed 5. They shall be inserted from the leech of the jib.</li>
            </ol>
        </li>
        <li><h4>Sailcloth</h4>
            There shall be no restrictions of material for the mainsail or jib.
        </li>
        <li><h4>Spinnaker</h4>
            <ol>
                <li>The spinnaker shall be a three-cornered sail constructed of normal woven sailcloth. No headboard, battens or other stiffening device, other than normal woven cloth reinforcing is allowed. A bowsprit shall be retracted inboard except while the spinnaker is set, or during hoisting or lowering thereof.</li>
                <li>Only one spinnaker may carried in the boat in Punt Class races.</li>
                <li>The spinnaker shall not be flown from a point on the mast greater than 6750mm from deck level</li>
            </ol>
        </li>
        <li>Sail numbers shall be carried on Mainsail in accordance with the ISAF rulescurrent at the time of measurement.</li>
    </ol>
</section>

<section>
    <h3>Name</h3>
    <ol start="23">
        <li>The name shall be submitted to the Association Honorary Secretary for approval. Traditionally boats are named after birds or fish.</li>
    </ol>
</section>

<section>
    <h3>Certificates</h3>
    <ol start="24">
        <li>No boat shall be allowed to race in the class unless she has a valid Measurement Certificate. This certificate shall be issued by the Owners' Association Secretary on receipt from the Measurer of a completed Measurement Form showing the boat to conform to Class Rules. Areas and serial numbers of sails measured are to be recorded on the Measurement Certificate. Any boat measured before 1997 (excepting no 84) is deemed to have complied with the rules in force at the time she was measured. Any alteration after 1997 shall comply with the rules current at the time of the alteration. Cases of doubt regarding compliance with the Class Rules shall be referred to the Owners' Association or a committee appointed by the Owners' Association for this purpose.</li>
    </ol>
</section>
  
</section>

{% endblock content %}