{% extends "base.html" %}

{% block title %}Norfolk Punts : Technical Information{% endblock %}

{% block content %}
<section id="technical">
<h2>Norfolk Punt Rules 2017</h2>
<div class="rules2017"/>
<br />
<h2>Norfolk Punt Measurement Forms</h2>
<a href="/site_media/NorfolkPuntSailMeasurementForm-v1.xlsx">Sail Area Measurment Spreadsheet Tool</a>
<script src='/site_media/js/pdfobject.min.js'></script>
<script>
    PDFObject.embed("/site_media/NorfolkPuntRules-version-0.2.8.pdf", ".rules2017", { height: "800px" });
</script>
</section>

{% endblock content %}
