<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Norfolk Punt Owners Association{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="/site_media/css/main.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/ui-lightness/jquery-ui-1.8.10.custom.css">
	{% block styles %}
	{% endblock styles %}
</head>
<body id="{% block bodyid %}{% endblock bodyid %}">

	<img src="/site_media/images/bg/bw-broad.jpg" class="bg" alt="Wide blue skies, soft water.">
	
	<div id="page-wrap">
		<div id="header" class="black80 shadow">
			{% block navigation %}
			    {% load current_nav %}
				{% url history as history %}
				{% url events_index as events %}
				{% url boats_index as boats %}
				{% url pictures_index as pictures %}
				{% url rules as rules %}
				<nav id="main">
					<a href="{{history}}" {% current_nav history %}>history</a>
					<a href="{{events}}" {% current_nav events %}>events</a>
					<a href="{{boats}}" {% current_nav boats %}>boats</a>
					<a href="{{pictures}}" {% current_nav pictures %}>gallery</a>
					<a href="{{rules}}" {% current_nav rules %}>rules</a>
				</nav>
			{% endblock navigation %}
			
			<h1>
				<a href="/"><strong>Norfolk Punt</strong> <em>Owners Association</em></a>
				<!--<img src="/site_media/images/beta.png" style="position:absolute;margin:0;top:0px;height:75px;"/>-->
			</h1>

			
			<div style="clear:both;"></div>
		</div>
		<div id="content">
			{% block content %}{% endblock content %}
		</div>
	</div>

	<script type="text/javascript" src="/site_media/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery.ba-bbq.min.js"></script>
	<script type="text/javascript">
		var qvars = $.deparam.querystring();
	</script>
	{% block scripts %}{% endblock scripts %}
	<!-- Uservoice -->
	<script type="text/javascript">
  		var uvOptions = {};
  		(function() {
    		var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    		uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/7gSTYVUcBwY6llqSWqw3zQ.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  		})();
	</script>
	<!-- Google Analytics -->
	<script type="text/javascript">
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-33546551-1']);
  		_gaq.push(['_setDomainName', 'norfolkpunt.org']);
  		_gaq.push(['_trackPageview']);
  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
</body>
</html>
