<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Norfolk Punt Owners Association{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="/site_media/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/main.css">
	{% block styles %}
	{% endblock styles %}
</head>
<body>

	<img src="/site_media/images/bg/bw-broad.jpg" class="bg" alt="Wide blue skies, soft water.">
	
	<div id="page-wrap">
		<div id="header" class="black80 shadow">
			<h1><a href="/"><strong>Norfolk Punt</strong><br/><em>Owners Association</em></a></h1>
		</div>
		<div id="content">
			{% block content %}{% endblock content %}
		</div>
	</div>

	<script type="text/javascript" src="/site_media/js/jquery-1.4.4.min.js"></script>
	{% block scripts %}{% endblock scripts %}
</body>
</html>
