<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Norfolk Punt Owners Association{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="/site_media/css/main.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/ui-lightness/jquery-ui-1.8.10.custom.css">
	{% block styles %}
	{% endblock styles %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">

	<img src="/site_media/images/bg/bw-broad.jpg" class="bg" alt="Wide blue skies, soft water.">
	
	<div id="page-wrap">
		<div id="header" class="black80 shadow">
			{% block navigation %}
			    {% load current_nav %}
				{% url history as history %}
				{% url events_index as events %}
				{% url boats_index as boats %}
				{% url pictures_index as pictures %}
				{% url rules as rules %}
				<nav id="main">
					<a href="{{history}}" {% current_nav history %}>history</a>
					<a href="{{events}}" {% current_nav events %}>events</a>
					<a href="{{boats}}" {% current_nav boats %}>boats</a>
					<a href="{{pictures}}" {% current_nav pictures %}>pictures</a>
					<a href="{{rules}}" {% current_nav rules %}>rules</a>
				</nav>
			{% endblock navigation %}
			
			<h1><a href="/"><strong>Norfolk Punt</strong> <em>Owners Association</em></a></h1>
			
			<div style="clear:both;"></div>
		</div>
		<div id="content">
			{% block content %}{% endblock content %}
		</div>
	</div>

	<script type="text/javascript" src="/site_media/js/jquery-1.7.2.min.js"></script>
	{% block scripts %}{% endblock scripts %}
</body>
</html>
