{% extends "localboats/base.html" %}
{% load humanize %}
{% block bodyid %}event{% endblock bodyid %}
{% block title %} {{ block.super }} : {{ event.name }}{% endblock %}

{% block content %}    	
	{% if event.results.count %}
		<section id="details">
			<h1>{{ event.name }}</h1>
			{% for result in event.results.all %}
				<div class="result">
					<dl class="details">
						{% if result.positions %}				
							{% for position in result.positions.all %}
								<dt>{{ position.position|ordinal }}</dt>
								<dd><a href="{{position.boat.get_absolute_url}}">{{position.boat.name}}</a> ({{position.helm.name}} and {{position.crew.name}})</dd>
							{% endfor %}
						{% endif %}
						{% if result.trophies %}
							{% for trophy in result.trophies.all %}
								<dt>{{trophy.name}}</dt>
								<dd><a href="{{trophy.boat.get_absolute_url}}">{{trophy.boat.name}}</a> ({{trophy.helm.name}} and {{trophy.crew.name}})</dd>
							{% endfor %}
						{% endif %}
					</dl>
					{{ result.report|linebreaks }}
				</div>
			{% endfor %}
			<div class="div-ider"></div>
		</section>
		<div class="div-ider"></div>
	{% endif %}
	{% if gallery %}
		<section id="gallery">
			<h2>Gallery</h2>
			{% for picture in gallery %}
				<a href="{{picture.get_absolute_url}}"><img src="{{picture.get_thumbnail_url}}" alt="{{picture.title}}"/></a>
			{% endfor %}
		</section>
		<div class="div-ider"></div>
	{% endif %}

	<section>
		{% if not event.results.count %}
			<h1>{{ event.name }}</h1>
		{% else %}
			<h2>Details</h2>
		{% endif %}
	    <dl class="details">
	    	<dt>From</dt>
			<dd>{{event.start}}</dd>
			<dt>To</dt>
			<dd>{{event.end}}</dd>
			<dt>At</dt>
			<dd>{{event.location.name}}</dd>
			<dt>Type</dt>
			<dd>{{event.type}}</dd>
	    </dl>
		{{ event.description|linebreaks }}
		<div class="div-ider"></div>
	</section>
{% endblock %}
