{% extends "localboats/base.html" %}
{% load humanize %}
{% block bodyclass %}event{% endblock bodyclass %}
{% block title %} {{ block.super }} : {{ event.name }}{% endblock %}

{% block content %}
    <section id="details">
    	<h1>{{ event.name }}</h1>
		
		{% if event.results %}
			{% for result in event.results.all %}
				<div class="result">
					<dl class="details">
						{% if result.positions %}				
							{% for position in result.positions.all %}
								<dt>{{ position.position|ordinal }}</dt>
								<dd><a href="{{position.boat.get_absolute_url}}">{{position.boat.name}}</a> ({{position.helm.name}} and {{position.crew.name}})</dd>
							{% endfor %}
						{% endif %}
						{% if result.trophies %}
							{% for trophy in result.trophies.all %}
								<dt>{{trophy.name}}</dt>
								<dd><a href="{{trophy.boat.get_absolute_url}}">{{trophy.boat.name}}</a> ({{trophy.helm.name}} and {{trophy.crew.name}})</dd>
							{% endfor %}
						{% endif %}
					</dl>
					{{ result.report|linebreaks }}
					<hr/>
				</div>
			{% endfor %}
		{% endif %}
		<div>
		    <dl class="details">
		    	<dt>From</dt>
				<dd>{{event.start}}</dd>
				<dt>To</dt>
				<dd>{{event.end}}</dd>
				<dt>At</dt>
				<dd>{{event.location.name}}</dd>
				<dt>Type</dt>
				<dd>{{event.type}}</dd>
		    </dl>
			{{ event.description|linebreaks }}
		</div>
		<div style="clear:both;"></div>
	</section>
	
{% endblock %}
