{% extends "localboats/base.html" %}
{% load humanize %}

{% block title %}{{ block.super }} : Events{% endblock title %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="/site_media/css/isotope.css">
{% endblock styles %}

{% block content %}
	<nav id="list-options" class="white80 shadow">
      <h3>Show:</h3>
      <ul id="filter" class="option-set">
		<li><a href="#future" data-filter=".future">Future</a></li>
		<li><a href="#past" data-filter=".past">Past</a></li>
		<li><a href="#results" data-filter=".results">Results</a></li>
		<li><a href="#travellers" data-filter=".travellers-series2017">Travellers Series 2017</a></li>
      </ul>
  	</nav>

	<ul id="super-list" class="fitRows clearfix">
	{% for event in future %}
	    <li id="{{ event.slug }}"
			class="future {{event.get_filterable_classes}}"
			data-start="{{ event.start }}"
			data-results="{{ event.results.count }}"
			data-tense="future"
			>
			<span class="type {{event.type|slugify}}">{{event.type}}</span>
	    	<h2><a href="{{ event.get_absolute_url }}">
			  {{ event.name }}
			</a></h2>
			<em>({{event.start}}{% if event.end %} to {{event.end}}{% endif %})</em>
		</li>
	{% endfor %}
	{% for event in past %}
	    <li id="{{ event.slug }}"
			class="past {{event.get_filterable_classes}}"
			data-start="{{ event.start }}"
			data-results="{{ event.results.count }}"
			data-tense="past"
			>
			<span class="type {{event.type|slugify}}">{{event.type}}</span>
	    	<h2><a href="{{ event.get_absolute_url }}">
			  {{ event.name }}
			</a></h2>
			<em>({{event.start}}{% if event.end %} to {{event.end}}{% endif %})</em>
		</li>
	{% endfor %}
	</ul>
{% endblock content %}

{% block scripts %}
	<script type="text/javascript" src="/site_media/js/jquery.isotope.min.js"></script>
	<script>
		var cur_filter = '.' + (qvars.filter || 'future'),
			currentLayout = 'straightDown',
			$list = $('#super-list');

		$('#filter a').live('click',function(){
		  var filterName = $(this).attr('data-filter');
		  $list.isotope({ filter : filterName });
		  return false;
		});

		// switches selected class on buttons
		$('#list-options').find('.option-set a').live('click', function(){
			var $this = $(this);
			// don't proceed if already selected
			if ( !$this.hasClass('selected') ) {
			  $this.parents('.option-set').find('.selected').removeClass('selected');
			  $this.addClass('selected');
			}
		});

		$('#list-options .option-set a[data-filter="'+cur_filter+'"]').addClass('selected');

		$(function(){
		  $list.isotope({
		    layoutMode : 'straightDown',
		    filter: cur_filter,
		    masonry : {
		      columnWidth: 220
		    },
		    getSortData : {
			  name : function( $elem ) {
				return $($elem).find('a:first').text();
			  }
		    }
		  });

		});

	</script>
{% endblock scripts %}
