{% extends "localboats/base.html" %}
{% load humanize %}

{% block title %} {{ block.super }} : {{ event.name }}{% endblock %}

{% block content %}
    <section id="details">
    	<h1>{{ event.name }}</h1>
		
		{% if event.results %}
			{% for result in event.results.all %}
				<div class="result">
					{% if result.positions %}
						<dl class="details positions">						
							{% for position in result.positions.all %}
								<dt>{{ position.position|ordinal }}</dt>
								<dd><a href="{{position.boat.get_absolute_url}}">{{position.boat.name}}</a> ({{position.helm.name}} and {{position.crew.name}})</dd>
							{% endfor %}
						</dl>
					{% endif %}
					{% if result.trophies %}
						<dl class="details trophies">
							{% for trophy in result.trophies.all %}
								<dt>{{trophy.name}}</dt>
								<dd><a href="{{trophy.boat.get_absolute_url}}">{{trophy.boat.name}}</a> ({{trophy.helm.name}} and {{trophy.crew.name}})</dd>
							{% endfor %}
						</dl>
					{% endif %}
					
					<p class="report">
						{{ result.report|linebreaks }}
					</p>
					
					<hr/>
				</div>
			{% endfor %}
		{% endif %}
		
	    <dl class="details">
	    	<dt>From</dt>
			<dd>{{event.start}}</dd>
			<dt>To</dt>
			<dd>{{event.end}}</dd>
			<dt>At</dt>
			<dd>{{event.location.name}}</dd>
			<dt>Type</dt>
			<dd>{{event.type}}</dd>
	    </dl>
		
		<p class="description">
			{{ event.description|linebreaks }}
		</p>
		
		
	
		
		<div style="clear:both;"></div>
	</section>
	
{% endblock %}
